<% if User.current.allowed_to?(:view_holidays, nil, :global => true) %>
	<h3>
		<%= link_to(l(:label_holidays), holidays_path()) %>
	</h3>
<% end %>

<% if User.current.allowed_to?(:manage_holiday_types, nil, :global => true) %>
	<h3>
		<%= link_to(l(:label_manage_holiday_types),
					{
						:controller => "holiday_types",
						:action => "index"
					}) %>
	</h3>
<% end %>
