<div class="contextual">
	<%= link_to(l(:label_holiday_type_new) + " |",
				{
					:controller => "holiday_types",
					:action => "new"
				},
				{
					:class => "icon icon-add"
				}) %>

	<% unless @holiday_type.nil? || @holiday_type.id.nil? || @holiday_type.id == 0 %>
		<%= link_to(l(:button_delete) + " |",
					{
						:controller => "holiday_types",
						:action => "destroy",
						:id => @holiday_type.id
					},
					{
						:class => 'icon icon-del',
						"data-method" => "delete",
						"data-confirm" => "Are you sure you want to delete this type?"
					}) %>
	<% end %>

	<%= link_to(l(:label_all_holiday_types), holiday_types_path) %>
</div>
